.contato {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 80vh;
     outline: unset;
     padding: 20px;
}  
.contato input{
    outline: unset;
    padding: 20px;
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
}
button{
    outline: unset;
    padding: 20px;
    width: 350px;
    border: 1px solid white;
    border-radius: 20px;
}